.levels-section {

  > .inner {
    padding-left: $unit-xs;
    padding-right: $unit-xs;

    > .section-heading {
      padding-left: $unit-xs / 2;
      padding-right: $unit-xs / 2;
      .btn {
        float: right;
        font-size: 20px;
        transition: background-color .3s ease-out;
        background-color: $grey-light;
        &:hover {
          background-color: $grey-dark;
        }
      }
    }
  }

}
